html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url(../images/bg.png);
  font-family: 'Bebas', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  font-weight: 400;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__logo {
  width: 87px;
  height: 34px;
  margin: 22px 0;
}

.header__menu-link {
  text-decoration: none;
  font-size: 16px;
  color: #b9b9b9;
  text-transform: uppercase;
  padding-top: 10px;
  transition: .5s;
}

.header__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  display: inline-block;
}

.header__menu .header__menu-item + .header__menu-item {
  margin-left: 30px;
}

.header__menu-link--activ, 
.header__menu-link:hover{
  color: #e8663c;
}

.header__menu-btn {
 width: 30px;
 display: none;
}

.header__menu-row {
  width: 100%;
  background-color: #e8663c;
  height: 4px;
  margin-bottom: 4px;
}

.slider {
  position: relative;
}

.slider::before, 
.slider::after {
  content: "";
  position: absolute;
  height: 61px;
  width: calc(100vw / 2 - 960px / 2);
  background-color: rgba(232, 96, 60, .5);
  top: 0;
} 

.slider::before {
  left: -5px;
}

.slider::after {
  right: -5px;
}

.slider__item {
  min-height: 400px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider__item-description {
  background-color: rgba(232, 102, 60, .8);
  max-width: 410px;
  color: #fff;
  position: absolute;
  left: 35px;
  bottom: 35px;
}

.slider__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 22px;
  margin-left: 18px;
  margin-bottom: 20px;
}

.slider__item-text {
  font-family: 'HelveticaNeue', sans-serif;  
  font-size: 12px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.slick-arrow{
	border: none;
	outline: none;
	background-color: transparent;
  position: absolute;
  top: 155px;
	z-index: 1;
	cursor: pointer;
}

.slick-prev{
  left: 25px;
}
.slick-next{
  right: 25px;
}

.slider__nav {
  margin-top: 17px;
  cursor: pointer;
}

.slider__nav-item {
  width: 140px;
  height: 120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  outline: transparent;
}

.slider__nav .slick-track {
  transform: translate3d(0px, 0px, 0px) !important;
} 

.slider__nav .slick-slide {
  max-width: 140px;
}

.slider__nav .slick-track div + div {
  margin-left: 20px;
}

.items {
  padding: 40px 0 46px;
}

.items__inner {
  display: flex;
  justify-content: space-between;  
}

.item {
  width: 320px;
}

.item__title {
  color: #e8663c;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  padding: 0 45px 38px 70px;
  position: relative;
}

.item__text {
  font-family: 'HelveticaNeue', sans-serif;
  color: #414141;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding-right: 45px;
  margin-bottom: 20px;
}

.item__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #e8663c;
  padding: 10px 15px 10px 13px;
  transition: .5s;
}

.item__link:hover {
  background-color: #772003;
}

.item__title--portf::before,
.item__title--work::before,
.item__title--follow::before {
  content: '';
  position: absolute;
  left: 0;
}

.item__title--portf::before {
  top: 3px;
  background-image: url(../images/icons/ring-icon.svg);
  width: 46px;
  height: 46px;
}

.item__title--work::before {
  top: 5px;
  background-image: url(../images/icons/ok_icon.svg);
  width: 49px;
  height: 41px;
}

.item__title--follow::before {
  top: 5px;
  background-image: url(../images/icons/client_icon.svg);
  width: 42px;
  height: 40px;
}

.works__title {
  font-size: 18px;
  font-weight: 400;
  color: #e8603c;
  text-transform: uppercase;
  margin-bottom: 25px;
  background-image: url(../images/bg_line.jpg);
}

.works__title span {
  display: inline-block;
  padding-right: 20px;
  background-color: #fff;
}

.works__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.works__item-link {
  display: block;
}

.works__item-link img {
  display: block;
}

.works__item-text {
  border: 1px solid #dbdbdb;
  border-top: 0;
}

.works__item-title, 
.works__item-data {
  display: inline-block;
  text-decoration: none;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 12px;
}

.works__item-title {
  font-size: 16px;
  color: #b9b9b9;
  margin-top: 14px;
  transition: .5s;
}

.works__item-title:hover {
  color: #e8663c;
} 

.works__item-data {
  font-size: 11px;
  color: #e8663c;
  margin-bottom: 14px;
  padding-top: 5px;
  transition: .5s;
}

.works__item-data:hover {
  color: #b9b9b9;
} 

.works__item-text p {
  margin: 0;
  padding: 0;
}

.footer {
  position: relative;
}

.footer a {
  text-decoration: none;
}

.footer__inner {
  background-color: #e8663c;
  display: flex;
  justify-content: space-between;
  padding: 38px 42px 30px 34px;
  color: #fff;
  font-weight: 400;
}

.footer__item {
 max-width: 320px;
}

.footer__item-widget,
.footer__item-contact {
  margin-left: 30px;
  padding-left: 30px;
} 

.footer__item-title {
  margin-bottom: 28px;
  font-size: 20px;
  text-transform: uppercase;
}

.footer__item-content {
  font-size: 12px;
  font-family: 'HelveticaNeue', sans-serif;
}

.footer__content-text {
  margin-top: 16px;
}

.footer__pixelmater,
.footer__designdude,
.footer__bestpsdfreebies,
.footer__date {
  color: #f3b29d;
  padding-right: 2px;
}

.footer__pixelmater:hover,
.footer__designdude:hover,
.footer__bestpsdfreebies:hover,
.footer__content-info a:hover {
  color: #7e2305;
}

.footer__bestpsdfreebies {
  padding-left: 2px;
}

.footer__content-info {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 20px;
}

.footer__content-info a {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 12px;
  color: #fff;
}

.footer__item-icons{ 
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
}

.footer .footer__item-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icons__link {
  width: 30px;
  height: 31px;
  margin-right: 4px;
}
 
.footer::before, 
.footer::after {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100vw / 2 - 960px / 2);
  background-color: rgba(232, 96, 60, .5);
  top: 0;
} 

.footer::before {
  left: -5px;
}

.footer::after {
  right: -5px;
}

